
section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

input,
textarea {
    margin-bottom: 1rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;

}

body {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}
h1,h2 {
    color: rgb(0, 0, 0);
}

p {
    margin-bottom: 1rem;
}

.nav-link:hover {
    background-color: rgb(110, 110, 110);
}
.nav-link {
    color: black;
}